.introduccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.introduccion-informacion {
  font-family: var(--main-font);
  /* margin-bottom: 20px; */
}

.introduccion-informacion h1 {
  color: var(--main-color);
}

.introduccion-informacion p {
  font-size: 23px;
  line-height: 1.5;
  max-width: 500px;
  text-align: left;
}

.introduccion-informacion a {
  background-color: var(--text-color-inverse);
  font-size: 25px;
  padding: 10px 20px;
  color: rgb(136, 255, 0);
  font-style: bold;
  border-radius: 8px;
}

a {
  margin-bottom: 10px;
  border-bottom: 9px;
}

#logo1 {
  border-bottom: 0px;
  color: rgb(236, 226, 139);
}

a:hover {  /*borden de interaccion*/
  background: rgb(49, 167, 49);
  transition: .5s;
  color: rgb(245, 209, 68);
    
    font-size: 18px;
    border-radius: 3px;
    padding: 7px 4px;
}

.introduccion img {
  width: 80%;
  max-width: 300px;
  margin-left: 150px;
  border-bottom: 10px solid var(--text-color-inv);
  transform: scaleX(-1);
}

@media (max-width: 760px) {
  .introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .introduccion-informacion p {
    font-size: 15px;
    line-height: 1.5;
    max-width: 500px;
    text-align: center;
  }

  .introduccion-informacion a {
    background-color: var(--text-color-inverse);
    font-size: 13px;
    padding: 10px 20px;
    color: white;
    font-style: bold;
    border-radius: 8px;
    margin-left: 182px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  .introduccion img {
    width: 70%;
    max-width: 250px;
    margin-top: 20px;
    margin-right: 120px;
    border-bottom: 10px solid var(--text-color-inverse);
    transform: scaleX(1);
  }
  a:hover {
    border-bottom: 0px;
    color: var(--main-color);
  }
}
